@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300); // Open Sans font
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);   // Condensed

@mixin retina-background($url, $type:png) {
  background-image: url("#{$url}.#{$type}");
  background-image: -webkit-image-set(url("#{$url}.#{$type}") 1x,
                            url("#{$url}@2x.#{$type}") 2x);
}

body {
	background-color: #f2f4f6;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  @include retina-background("images/logo_big");
  width: 385px;
  height: 81px;
  text-indent: -9999px;
  white-space: nowrap;
  margin: 50px auto;
  @media all and (max-width: 420px) {
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media all and (max-width: 330px) {
    width: 250px;
  }
}
h2 {
  font-size: 20px;
  color: #A9B2BC;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  display: block;
}
h3 {
  font-size: 28px;
  color: #C7CCD1;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 100px;
  text-align: center;
  position: relative;
  &#download-section {
    margin-top: 50px;
    padding-top: 40px;
  }
  &::after {
    content: "";
    background-color: #e2e5e8;
    height: 4px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    position: absolute;
    margin-top: -50px;
    border-radius: 2px;

    @media all and (max-width: 740px) {
      width: auto;
      left: 20px;
      right: 20px;
      margin-left: 0;
    }
  }
}

a {
  text-decoration: none;
}

p {
  max-width: 826px;
  margin: 30px auto;
  font-size: 17px;
  font-weight: 300;
  color: #848D94;
  line-height: 25px;
  text-align: left;
  &.center {
    text-align: center;
  }

  strong {
    color: #8A8F94;
    font-weight: 600;
  }
  a {
    color: #9ECADF;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
    &.twitter {
      color: #5eaade;
    }
    &.dribbble {
      color: #f26798;
    }
    &.github {
      color: #323131;
    }
  }
}

button, .button {
  $btnBlue: #AEDEF4;
  $btnGray: #D0D0D0;

  background-color: $btnBlue;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 35px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: darken($btnBlue, 3%);
  }
  &:active {
    background-color: darken($btnBlue, 10%);
  }
  &.cancel {
    background-color: $btnGray;
    &:hover {
      background-color: darken($btnGray, 3%);
    }
    &:active {
      background-color: darken($btnGray, 10%);
    }
  }
  &.download {
    position: fixed;
    right: 30px;
    top: 0;
    background-color: rgba(white, 0.9);
    color: #ABCADA;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 3;

    @media all and (max-width: 1278px) {
      display: none;
    }
  }
}

.center-container {
  max-width: 700px;
  margin: 70px auto;
}

pre {
  background-color: #49483e;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-line;
  text-align: left;
  font-size: 14px;
  max-width: 600px;

  .str {
    color: #e6db74;
  }
  .func {
    color: #66d9ef;
  }
  .val {
    color: #a381ff;
  }
  .tag {
    color: #e92772;
  }
  .attr {
    color: #a6e22d;
  }
  .arg {
    color: #fd9720;
  }
}

.showcase {
  background-color: #eceef0;
  padding: 20px;
  display: inline-block;
  width: 383px;
  vertical-align: top;
  position: relative;

  @media all and (max-width: 865px) {
    margin: 5px auto;
    padding: 46px 20px;
  }
  @media all and (max-width: 440px) {
    width: auto;
  }

  h4 {
    font-size: 16px;
    color: #BCBCBC;
    line-height: 22px;
    margin: 0 auto;
    font-weight: 400;
  }
  &.sweet h4 {
    width: 117px;
    height: 25px;
    margin-top: -3px;
    text-indent: -9999px;
    @include retina-background("images/logo_small");
  }
  h5 {
    margin-bottom: -7px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(194, 194, 194);
  }

  button {
    margin-bottom: 10px;
  }

  .vs-icon {
    @include retina-background("images/vs_icon");
    width: 69px;
    height: 69px;
    position: absolute;
    right: -34px;
    top: 60px;
    z-index: 2;

    @media all and (max-width: 865px) {
      margin: 5px auto;
      right: auto;
      left: 50%;
      margin-left: -35px;
      top: auto;
      bottom: -35px;
    }
  }
}


ul.examples {
  list-style-type: none;
  width: 700px;
  margin: 0 auto;
  text-align: left;
  padding-left: 0;
  @media all and (max-width: 758px) {
    width: auto;
  }

  li {
    padding-left: 0;
  }

  .ui, pre {
    display: inline-block;
    vertical-align: top;

    @media all and (max-width: 758px) {
      display: block;
      max-width: none;
      margin: 0 auto;
    }
  }
  .ui {
    width: 300px;
    text-align: center;

    button {
      margin-top: 12px;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }

  pre {
    max-width: 370px;
    margin-top: 67px;

    @media all and (max-width: 758px) {
      margin-top: 16px !important;
      margin-bottom: 60px;
    }
  }
  .warning pre {
    margin-top: 93px;
  }
}


ol {
  max-width: 700px;
  margin: 70px auto;
  list-style-position: inside;
  padding-left: 0;

  li {
    color: #A7ADB2;

    p {
      margin-bottom: 10px;
    }
  }
}


table {
  width: 700px;
  font-size: 14px;
  color: #8a8f94;
  margin: 10px auto;
  text-align: left;
  border-collapse: collapse;
  @media all and (max-width: 750px) {
    width: auto;
    margin: 10px 20px;
  }

  th {
    background-color: white;
    padding: 9px;
    color: rgb(172, 185, 190);
    font-weight: 400;
    text-align: center;
    position: relative;
    .border-left, .border-right {
      position: absolute;
      background-color: white;
      border-radius: 50%;
      top: 0;
      left: -17px;
      width: 37px;
      height: 37px;
    }
    .border-right {
      left: auto;
      right: -17px;
    }
    @media all and (max-width: 750px) {
      &:nth-child(2) {
       display: none;
     }
    }
  }

  td {
    padding: 10px 20px;
    vertical-align: top;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
    @media all and (max-width: 750px) {
      &:nth-child(2) {
       display: none;
     }
    }
    @media all and (max-width: 360px) {
      padding: 10px 4px;
      b {
        font-size: 13px;
      }
    }
  }
}

footer {
  margin-top: 100px;
  padding-bottom: 30px;
  color: #9A999F;
  display: inline-block;
  position: relative;
  color: gray;
  font-weight: 400;
  color: rgb(147, 161, 170);
  font-weight: 300;

  .te-logo {
    text-indent: -99999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 5px;
    background-image: url("images/te-logo-small.svg");
    position: absolute;
    left: -22px;
    top: 3px;
  }
}


// Theme example (Twitter)
// Twitter Theme for SweetAlert
// By Tristan Edwards

.sweet-alert.twitter {
  $header-height: 40px;
  $footer-height: 66px;
  $text-color: #66757f;
  $padding: 15px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: $padding;
  padding-top: $header-height + $padding;
  text-align: right; // Align buttons
  border-radius: 6px;
  box-shadow: 0px 0px 0px 1px rgba(black, 0.11), 0px 6px 30px rgba(black, 0.14);

  ~ .sweet-overlay {
    background: rgba(41,47,51,0.9);
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    line-height: $header-height;
    font-size: 16px;
    font-weight: 400;
    color: #8899a6;
    margin: 0;
    color: $text-color;
    border-bottom: 1px solid #e1e8ed;
  }

  p {
    display: block;
    text-align: center;
    color: #66757f;
    font-weight: 400;
    font-size: 13px;
    margin-top: 7px;
  }

  .sa-button-container {
    background-color: #f5f8fa;
    border-top: 1px solid #e1e8ed;
    box-shadow: 0px -1px 0px white;
    margin: -$padding;
    margin-top: 0;
  }
  &[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 10px;
    .sa-button-container {
      display: none;
    }
  }

  button {
    border-radius: 2px;
    box-shadow: none !important;
    text-shadow: 0px -1px 0px rgba(black, 0.3);
    margin: 17px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    position: relative;
    &:focus, &.cancel:focus {
      box-shadow: none !important;
      &::before {
        content: "";
        position: absolute;
        left: -5px;
        top: -5px;
        right: -5px;
        bottom: -5px;
        border: 2px solid #a5b0b4;
        border-radius: 8px;
      }
    }

    &.confirm {
      background-color: #55acee !important;
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
      border: 1px solid #3b88c3;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
      margin-right: $padding;
      &:hover {
        background-color: #55acee;
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
        border-color: #3b88c3;
      }
    }
    &.cancel {
      color: #66757e;
      background-color: #f5f8fa;
      background-image: linear-gradient(#fff,#f5f8fa);
      text-shadow: 0px -1px 0px white;
      margin-right: 9px;
      border: 1px solid #e1e8ed;
      &:hover, &:focus:hover {
        background-color: #e1e8ed;
        background-image: linear-gradient(#fff,#e1e8ed);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
        border-color: #e1e8ed;
      }
      &:focus {
        background: #fff;
        border-color: #fff;
      }
    }
  }

  .sa-icon {
    transform: scale(0.72);
    margin-bottom: -2px;
    margin-top: -10px;
  }

  input {
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    padding: 10px 7px;
    height: auto;
    box-shadow: none;
    font-size: 13px;
    margin: 10px 0;
    &:focus {
      border-color: #94A1A6;
      box-shadow: inset 0 0 0 1px rgba(77, 99, 107, 0.7);
    }
  }

  fieldset .sa-input-error {
    display: none;
  }

  .sa-error-container {
    text-align: center;
    border: none;
    background-color: #fbedc0;
    margin-bottom: 6px;
    &.show {
      border: 1px solid #f0e1b9;
    }

    .icon {
      display: none;
    }
    p {
      color: #292f33;
      font-weight: 600;
      margin-top: 0;
    }
  }
}
